<section class="relative flex flex-col items-center gap-8 overflow-hidden px-6 py-16 text-center" style="background-color:#3f73cc">
  <div class="relative w-full max-w-6xl rounded-xl overflow-hidden">
      <img src="/miso/roadmap.svg" alt="Roadmap" class="w-full" />
  </div>
</section>
