<section class="relative flex flex-col items-center gap-8 px-6 pt-26 sm:pt-36 lg:pt-42 pb-16 text-center" style="background-color:#3f73cc">
  <img src="/miso/roadmap-title.svg" alt="Miso roadmap" class="absolute -top-12 sm:-top-16 lg:-top-18 w-32 sm:w-42 lg:w-48" />
  <div class="relative w-full max-w-6xl rounded-xl overflow-hidden">
      <img src="/miso/roadmap-main.svg" alt="Roadmap steps" class="w-full" />
  </div>
  <p class="relative max-w-2xl font-nunito font-semibold text-base leading-relaxed text-white/90 sm:text-lg 2xl:text-xl">Our first milestone will be finishing the core Miso unit's design, at which point we'll want to get it into as many hands as possible. After that, we'll continue to enhance Miso's capabilities through software/firmware updates and additional module designs.</p>
</section>
